* {
  font-family: "Inter", serif;
}

h1,
.h1 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 42px;
}

h2,
.h2 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
}

h3,
.h3 {
  font-family: "Inter";
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
}

h4,
.h4 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
}

h5,
.h5 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
}

h6,
.h6 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
}

.type-body-xl {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.type-body-large {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.type-body-med {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.type-small {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.type-xsmall {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
}

.light-weight {
  font-weight: 300;
}

.med-weight {
  font-weight: 500;
}

.semi-bold-weight {
  font-weight: 500;
}

.bold-weight {
  font-weight: 700;
}

html {
  overflow: hidden;
}

body {
  font-family: "Inter", sans-serif;
  color: #292B2D;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #0073C6;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

button {
  font-weight: 500;
  background-color: transparent;
  border: none;
  padding: none;
}

.dd-trigger {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 160px;
  padding: 5px 0;
  margin: -1px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  transform: translateX(-132px);
}
.dropdown-menu a {
  text-decoration: none;
}
.dropdown-menu a li {
  padding: 16px;
  display: flex;
  align-items: center;
}
.dropdown-menu a li:hover {
  background-color: #F0F2F5;
}

.avatar {
  background-color: #CED0D2;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}
.avatar:hover {
  background-color: #BBBDBF;
}
.avatar:focus {
  outline: #93D2FF 4px solid;
  background-color: #BBBDBF;
}

.icon-btn {
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  border-radius: 4px;
  padding: 0;
}
.icon-btn:hover {
  background-color: #F0F2F5;
}
.icon-btn:focus {
  outline: #93D2FF 4px solid;
  background-color: #F0F2F5;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  border-bottom: 1px solid #DFE1E3;
}
.top-nav > div {
  display: flex;
  align-items: center;
}
.top-nav > div.top-nav-right {
  padding-right: 32px;
}
.top-nav > div.top-nav-right #help-dd {
  margin: 0 24px;
}
.top-nav .app-switcher {
  width: 94px;
  height: 68px;
  background-color: #ffffff;
  border-right: 1px solid #DFE1E3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}
.top-nav .app-switcher:hover {
  background-color: #F0F2F5;
}
.top-nav .logo {
  padding: 0;
  border-right: 1px solid #DFE1E3;
  margin-right: 24px;
  width: 32px;
  padding: 0 24px 0 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-nav .logo svg {
  width: 32px;
  height: 32px;
}

.app-switcher-scrim, .site-switcher-scrim {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.app-switcher-scrim.open, .site-switcher-scrim.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.site-switcher-scrim {
  z-index: 89;
}

.app-switcher-menu {
  position: absolute;
  background-color: #ffffff;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  z-index: 100;
  width: 279px;
  padding: 0 0 12px;
  box-shadow: 0px 4px 8px rgba(11, 13, 14, 0.25);
}
.app-switcher-menu.closed {
  box-shadow: none;
  width: 94px;
  height: 69px;
  margin: 0;
  padding: 0;
}
.app-switcher-menu.closed > button {
  width: 94px;
  margin: 0;
  border-right: 1px solid #DFE1E3;
}
.app-switcher-menu.closed > button span {
  width: 0;
  height: 0;
  opacity: 0;
}
.app-switcher-menu.closed > a {
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
}
.app-switcher-menu > button {
  display: flex;
  align-items: center;
  padding: 0 32px 0 35px;
  height: 69px;
  width: 279px;
  border-bottom: 1px solid #DFE1E3;
  margin-bottom: 12px;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  cursor: pointer;
}
.app-switcher-menu > button:hover {
  background-color: #F0F2F5;
}
.app-switcher-menu > button svg {
  min-width: 24px;
  min-height: 24px;
}
.app-switcher-menu > button span {
  margin-left: 16px;
}
.app-switcher-menu > a {
  width: 279px;
  height: 48px;
  display: flex;
  align-items: center;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}
.app-switcher-menu > a:hover {
  background-color: #F0F2F5;
}
.app-switcher-menu > a svg {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin: 0 16px 0 35px;
}
.app-switcher-menu > a svg:last-child {
  width: 20px;
  height: 20px;
  max-width: 20px;
  max-height: 20px;
  min-width: 20px;
  min-height: 20px;
  margin: 0 32px 0 0;
}
.app-switcher-menu > a svg:last-child path {
  fill: #292B2D;
}
.app-switcher-menu > a span {
  flex: 1;
  text-align: left;
  color: #292B2D;
}

.search-trigger {
  border-radius: 18px;
  border: 1px solid #717375;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  padding: 8px 8px 8px 16px;
  display: flex;
  align-items: center;
  width: 360px;
  cursor: pointer;
}
.search-trigger:hover {
  background-color: #F0F2F5;
}
.search-trigger span {
  flex: 1;
  text-align: left;
  margin-left: 8px;
  color: #717375;
  font-size: 14px;
  line-height: 20px;
}

.page-wrapper {
  display: flex;
}
.page-wrapper .page {
  flex: 1;
  padding: 32px 32px 0;
  display: flex;
  justify-content: center;
  overflow-y: overlay;
  height: calc(100vh - 68px);
  box-sizing: border-box;
}
.page-wrapper .page img {
  max-width: 1400px;
  width: 100%;
}

.left-nav {
  width: 94px;
  height: calc(100vh - 68px);
  position: relative;
  box-sizing: border-box;
  z-index: 2;
}
.left-nav .rail {
  width: 94px;
  box-sizing: border-box;
  border-right: 1px solid #DFE1E3;
  height: 100%;
  z-index: 2;
  padding: 16px 0;
  background-color: #ffffff;
  position: absolute;
  z-index: 1;
}
.left-nav .rail .rail-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 94px;
  padding: 8px 0;
  font-size: 12px;
  line-height: 20px;
  color: #292B2D;
  text-align: center;
}
.left-nav .rail .rail-item:hover .icon-wrapper {
  background-color: #F0F2F5;
}
.left-nav .rail .rail-item.active {
  color: #0073C6;
}
.left-nav .rail .rail-item.active:hover .icon-wrapper {
  background-color: #EFF8FF;
}
.left-nav .rail .rail-item.active .icon-wrapper {
  background-color: #EFF8FF;
}
.left-nav .rail .rail-item.active .icon-wrapper path {
  fill: #0073C6;
}
.left-nav .rail .rail-item.showing-menu.active .icon-wrapper {
  background-color: #EFF8FF;
}
.left-nav .rail .rail-item.showing-menu .icon-wrapper {
  background-color: #F0F2F5;
}
.left-nav .rail .rail-item .icon-wrapper {
  padding: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}
.left-nav .nav-drawer {
  position: absolute;
  z-index: 0;
  width: 256px;
  border-right: 1px solid #DFE1E3;
  box-sizing: border-box;
  left: -256px;
  top: 0;
  height: 100%;
  padding: 4px 0;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  background-color: #ffffff;
}
.left-nav .nav-drawer.show {
  visibility: visible;
  pointer-events: auto;
  left: 94px;
}
.left-nav .nav-drawer .nav-item-wrapper {
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  opacity: 0;
  visibility: hidden;
  height: 0;
  pointer-events: none;
  position: absolute;
}
.left-nav .nav-drawer .nav-item-wrapper.show {
  opacity: 1;
  visibility: visible;
  height: auto;
  pointer-events: auto;
  position: relative;
}
.left-nav .nav-drawer .nav-item {
  display: flex;
  align-items: center;
  border-radius: 4px;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  color: #292B2D;
  padding: 12px 16px;
  margin: 8px 16px;
  width: 192px;
  box-sizing: content-box;
}
.left-nav .nav-drawer .nav-item:hover {
  background-color: #F0F2F5;
}
.left-nav .nav-drawer .nav-item.active {
  background-color: #EFF8FF;
  color: #0073C6;
}
.left-nav .nav-drawer .nav-item.active path {
  fill: #0073C6;
}
.left-nav .nav-drawer .nav-item path {
  fill: #292B2D;
}
.left-nav .nav-drawer .nav-item span {
  margin-left: 12px;
  flex: 1;
}
.left-nav .nav-drawer .nav-item .external-link {
  width: 16px;
  height: 16px;
  max-width: 16px;
  max-height: 16px;
}
.left-nav .nav-drawer .parent {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  margin: 8px 16px;
  width: 224px;
  box-sizing: content-box;
}
.left-nav .nav-drawer .parent:hover .parent-top {
  background-color: #F0F2F5;
}
.left-nav .nav-drawer .parent.open .parent-top {
  background-color: #EFF8FF;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.left-nav .nav-drawer .parent.open .parent-top > img {
  transform: rotate(180deg);
}
.left-nav .nav-drawer .parent.open .child-wrapper {
  height: auto;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.left-nav .nav-drawer .parent .parent-top {
  width: calc(100% - 32px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  border-radius: 4px;
  cursor: pointer;
}
.left-nav .nav-drawer .parent .parent-top > img {
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}
.left-nav .nav-drawer .parent .child-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #EFF8FF;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 0;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}
.left-nav .nav-drawer .parent .child-wrapper .child {
  padding: 12px 16px 12px 48px;
  color: #292B2D;
  position: relative;
  width: 160px;
  display: block;
  text-align: left;
}
.left-nav .nav-drawer .parent .child-wrapper .child.active {
  color: #0073C6;
}
.left-nav .nav-drawer .parent .child-wrapper .child.active::after {
  content: "";
  top: 50%;
  transform: translateY(-50%);
  height: 6px;
  width: 6px;
  background-color: #0073C6;
  border-radius: 100%;
  position: absolute;
  left: 23px;
}

@media screen and (min-width: 1600px) {
  .sub-page .left-nav {
    width: 350px;
  }
  .sub-page .nav-drawer {
    left: 94px;
    visibility: visible;
    pointer-events: auto;
  }
}
.page.full-width {
  padding: 0;
  display: block;
}
.page.full-width .img-wrapper {
  max-width: 1400px;
  padding: 0 32px;
  margin: 0 auto;
}

.page-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  height: 64px;
  background-color: #ffffff;
  box-sizing: border-box;
  border-bottom: 1px solid #DFE1E3;
  margin-bottom: 32px;
  position: sticky;
  top: 0;
}
.page-nav .left img {
  height: 24px;
}
.page-nav .right img {
  height: 64px;
}

.site-switcher-wrapper {
  display: flex;
  align-items: center;
  margin-left: 24px;
  padding-left: 24px;
  border-left: 1px solid #DFE1E3;
  height: 32px;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}
.site-switcher-wrapper button {
  border: 1px solid #292B2D;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 24px;
  width: 24px;
  padding: 0;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  cursor: pointer;
  margin-left: 12px;
  position: relative;
}
.site-switcher-wrapper button.open svg {
  transform: rotate(180deg);
}
.site-switcher-wrapper button:hover {
  background-color: #F0F2F5;
  border-color: #005593;
}
.site-switcher-wrapper button:hover svg path {
  fill: #005593;
}
.site-switcher-wrapper button svg {
  min-width: 16px;
  min-height: 16px;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}

.site-switcher-menu {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  z-index: 90;
  filter: drop-shadow(0px 2px 4px rgba(11, 13, 14, 0.25));
  top: calc(100% - 2px);
  left: 0;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}
.site-switcher-menu.show {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  top: calc(100% + 2px);
}
.site-switcher-menu a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  text-align: left;
  flex: 1;
  height: 44px;
  min-width: 200px;
}
.site-switcher-menu a span {
  flex: 1;
  color: #292B2D;
}
.site-switcher-menu a svg {
  display: none;
}

.beta-tag {
  font-size: 12px;
  line-height: 20px;
  border-radius: 50px;
  border: 1px solid #292B2D;
  color: #292B2D;
  padding: 0 8px;
}/*# sourceMappingURL=style.css.map */