@import "./variables";
// @import "./atoms";

*{
    font-family: 'Inter', serif;
}

// HEADERS
h1,
.h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 42px;
}

h2,
.h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
}

h3,
.h3 {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 20px;
    line-height: 28px;
}

h4,
.h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
}

h5,
.h5 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
}

h6,
.h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
}

// TYPE
.type-body-xl {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.type-body-large {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.type-body-med {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.type-small {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.type-xsmall {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
}

.light-weight {
    font-weight: 300;
}

.med-weight {
    font-weight: 500;
}

.semi-bold-weight {
    font-weight: 500;
}

.bold-weight {
    font-weight: 700;
}

// DEFAULT STYLES

html{
    overflow: hidden;
}

body {
    font-family: 'Inter', sans-serif;
    color: $gray-80;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: $info-70;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

button {
    font-weight: 500;
    background-color: transparent;
    border: none;
    padding: none;
}


.dd-trigger {
	position: relative;
    cursor: pointer;
    padding: 0;
}

.dropdown-menu {
	position: absolute;
	z-index: 1000;
	display: none;
	min-width: 160px;
	padding: 5px 0;
	margin: -1px 0 0 0;
	list-style: none;
	background-color: $gray-0;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
    transform: translateX(-132px);
    
	a {
		text-decoration: none;
		li {
			padding: 16px;
            display: flex;
            align-items: center;
			&:hover {
				background-color: $gray-10;
			}
		}
	}
}

.avatar{
    background-color: $gray-30;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    transition: $transition;
    &:hover{
        background-color: $gray-40;
    }
    &:focus{
        outline: $info-30 4px solid;
        background-color: $gray-40;
    }
}

.icon-btn{
    transition: $transition;
    border-radius: 4px;
    padding: 0;

    &:hover{
        background-color: $gray-10;
    }

    &:focus{
        outline: $info-30 4px solid;
        background-color: $gray-10;
    }
}

//top nav

.top-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;
    border-bottom: 1px solid $gray-20;

    > div{
        display: flex;
        align-items: center;

        &.top-nav-right{
            padding-right: 32px;

            #help-dd{
                margin: 0 24px;
            }
        }
    }

    .app-switcher{
        width: 94px;
        height: 68px;
        background-color: $gray-0;
        border-right: 1px solid $gray-20;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: $transition;

        &:hover{
            background-color: $gray-10;
        }
    }

    .logo{
        padding: 0;
        border-right: 1px solid $gray-20;
        margin-right: 24px;
        width: 32px;
        padding: 0 24px 0 32px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg{
            width: 32px;
            height: 32px;
        }
    }
}

.app-switcher-scrim, .site-switcher-scrim{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &.open{
        opacity: 1;
        visibility: visible;
        pointer-events: auto; 
    }
}

.site-switcher-scrim{
    z-index: 89;
}

.app-switcher-menu{
    position: absolute;
    background-color: $gray-0;
    transition: $transition;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 100;
    width: 279px;
    padding: 0 0 12px;
    box-shadow: 0px 4px 8px rgba(11, 13, 14, 0.25);

    &.closed{
        box-shadow: none;
        width: 94px;
        height: 69px;
        margin: 0;
        padding: 0;

        >button{
            width: 94px;
            margin: 0;
            border-right: 1px solid $gray-20;

            span{                
                width: 0;
                height: 0;
                opacity: 0;
            }
        }
        >a{
            opacity: 0;
            pointer-events: none;
            width: 0;
            height: 0;
        }
    }

    >button{
        display: flex;
        align-items: center;
        padding: 0 32px 0 35px;
        height: 69px;
        width: 279px;
        border-bottom: 1px solid $gray-20;
        margin-bottom: 12px;
        transition: $transition;
        cursor: pointer;

        &:hover{
            background-color: $gray-10;
        }

        svg{
            min-width: 24px;
            min-height: 24px;
        }
        
        span{
            margin-left: 16px;
        }
    }

    >a{
        width: 279px;
        height: 48px;
        display: flex;
        align-items: center;
        transition: $transition;

        &:hover{
            background-color: $gray-10;
        }

        svg{
            width: 24px;
            height: 24px;
            min-width: 24px;
            min-height: 24px;
            margin:0 16px 0 35px;
        }

        svg:last-child{
            width: 20px;
            height: 20px;
            max-width: 20px;
            max-height: 20px;
            min-width: 20px;
            min-height: 20px;
            margin: 0 32px 0 0;

            path{
                fill: $gray-80;
            }
        }

        span{
            flex: 1;
            text-align: left;
            color: $gray-80;
        }
    }
}

.search-trigger{
    border-radius: 18px;
    border: 1px solid $gray-60;
    transition: $transition;
    padding: 8px 8px 8px 16px;
    display: flex;
    align-items: center;
    width: 360px;
    cursor: pointer;

    &:hover{
        background-color: $gray-10;
    }

    span{
        flex: 1;
        text-align: left;
        margin-left: 8px;
        color: $gray-60;
        font-size: 14px;
        line-height: 20px;
    }
}

.page-wrapper{
    display: flex;

    .page{
        flex: 1;
        padding: 32px 32px 0;
        display: flex;
        justify-content: center;
        overflow-y: overlay;
        height: calc(100vh - 68px);
        box-sizing: border-box;
        
        img{
            max-width: 1400px;
            width: 100%;
        }
    }
}


// left nav
.left-nav{
    width: 94px;
    height: calc(100vh - 68px);
    position: relative;
    box-sizing: border-box;
    z-index: 2;

    .rail{
        width: 94px;
        box-sizing: border-box;
        border-right: 1px solid $gray-20;
        height: 100%;
        z-index: 2;
        padding: 16px 0;
        background-color: $gray-0;
        position: absolute;
        z-index: 1;

        .rail-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 94px;
            padding: 8px 0;
            font-size: 12px;
            line-height: 20px;
            color: $gray-80;
            text-align: center;

            &:hover{
                .icon-wrapper{
                    background-color: $gray-10;
                }
            }

            &.active{
                color: $info-70;

                &:hover{
                    .icon-wrapper{
                        background-color: $info-10;
                    }
                }
                .icon-wrapper{
                   background-color: $info-10;

                   path{
                    fill: $info-70;
                   }
                }
            }

            &.showing-menu{

                &.active{
                    .icon-wrapper{
                        background-color: $info-10;
                    }
                }

                .icon-wrapper{
                    background-color: $gray-10;
                }
            }

            .icon-wrapper{
                padding: 8px;
                border-radius: 4px;
                display: flex;
                align-items: center;
                transition: $transition;
            }
        }
    }

    .nav-drawer{
        position: absolute;
        z-index: 0;
        width: 256px;
        border-right: 1px solid $gray-20;
        box-sizing: border-box;
        left: -256px;
        top: 0;
        height: 100%;
        padding: 4px 0;
        transition: $transition;
        background-color: $gray-0;

        &.show{
            visibility: visible;
            pointer-events: auto;
            left: 94px;
        }

        .nav-item-wrapper{
            transition: $transition;
            opacity: 0;
            visibility: hidden;
            height: 0;
            pointer-events: none;
            position: absolute;

            &.show{
                opacity: 1;
                visibility: visible;
                height: auto;
                pointer-events: auto;
                position: relative;
            }
        }

        .nav-item{
            display: flex;
            align-items: center;
            border-radius: 4px;
            transition: $transition;
            color: $gray-80;
            padding: 12px 16px;
            margin: 8px 16px;
            width: calc(256px - 64px);
            box-sizing: content-box;

            &:hover{
                background-color: $gray-10;
            }

            &.active{
                background-color: $info-10;
                color: $info-70;

                path{
                    fill: $info-70;
                }
            }

            path{
                fill: $gray-80;
            }

            span{
                margin-left: 12px;
                flex: 1;
            }

            .external-link{
                width: 16px;
                height: 16px;
                max-width: 16px;
                max-height: 16px;
            }
        }

        .parent{
            display: flex;
            flex-direction: column;
            padding: 0;
            align-items: center;
            margin: 8px 16px;
            width: calc(256px - 32px);
            box-sizing: content-box;

            &:hover{
                .parent-top{
                    background-color: $gray-10;
                }
            }

            &.open{
                .parent-top{
                    background-color: $info-10;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;

                    > img{
                        transform: rotate(180deg);
                    }
                }

                .child-wrapper{
                    height: auto;
                    opacity: 1;
                    pointer-events: auto;
                    visibility: visible;
                }
            }

            .parent-top{
                width: calc(100% - 32px);
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 12px 16px;
                transition: $transition;
                border-radius: 4px;
                cursor: pointer;

                > img{
                    transition: $transition;
                }
            }

            .child-wrapper{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                background-color: $info-10;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                height: 0;
                opacity: 0;
                pointer-events: none;
                visibility: hidden;
                transition: $transition;

                .child{
                    padding: 12px 16px 12px 48px;
                    color: $gray-80;
                    position: relative;
                    width: calc(256px - 64px - 32px);
                    display: block;
                    text-align: left;

                    &.active{
                        color: $info-70;
                        &::after{
                            content: "";
                            top: 50%;
                            transform: translateY(-50%);
                            height: 6px;
                            width: 6px;
                            background-color: $info-70;
                            border-radius: 100%;
                            position: absolute;
                            left: 23px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    .sub-page{
        .left-nav{
            width: 350px;
        }
    
        .nav-drawer{
            left: 94px;
            visibility: visible;
            pointer-events: auto;
        }
    }
}

//page nav

.page.full-width{
    padding: 0;
    display: block;

    .img-wrapper{
        max-width: 1400px;
        padding: 0 32px;
        margin: 0 auto;
    }
}

.page-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    height: 64px;
    background-color: $gray-0;
    box-sizing: border-box;
    border-bottom: 1px solid $gray-20;
    margin-bottom: 32px;
    position: sticky;
    top: 0;

    .left{
        img{
            height: 24px;
        }
    }

    .right{
        img{
            height: 64px;
        }
    }
}

.site-switcher-wrapper{
    display: flex;
    align-items: center;
    margin-left: 24px;
    padding-left: 24px;
    border-left: 1px solid $gray-20;
    height: 32px;
    transition: $transition;

    button{
        border: 1px solid $gray-80;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        height: 24px;
        width: 24px;
        padding: 0;
        transition: $transition;
        cursor: pointer;
        margin-left: 12px;
        position: relative;

        &.open{
            svg{
                transform: rotate(180deg);
            }
        }

        &:hover{
            background-color: $gray-10;
            border-color: $info-80;

            svg path{
                fill: $info-80;
            }
        }

        svg{
            min-width: 16px;
            min-height: 16px;
            transition: $transition;
        }
    }
}

.site-switcher-menu{
    position: absolute;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $gray-0;
    z-index: 90;
    filter: drop-shadow(0px 2px 4px rgba(11, 13, 14, 0.25));
    top: calc(100% + -2px);
    left: 0;
    transition: $transition;

    &.show{
        pointer-events: auto;
        opacity: 1;
        visibility: visible;
        top: calc(100% + 2px);
    }

    a{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 16px;
        text-align: left;
        flex: 1;
        height: 44px;
        min-width: 200px;

        span{
            flex: 1;
            color: $gray-80;
        }

        svg{
            display: none;
        }
    }
}

.beta-tag{
    font-size: 12px;
    line-height: 20px;
    border-radius: 50px;
    border: 1px solid $gray-80;
    color: $gray-80;
    padding: 0 8px;
}

.img-wrapper{
    position: relative;

    .floating-link{
        position: absolute;
        background-color: $gray-20;
        opacity: 0%;
        width: 200px;
        height: 36px;
        top: 0;
        right: 0;
    }
}